<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>pruebas-trazas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Endpoints trazas textoPlano</p>
    <ul>
        <li><a href="linkToTraza" th:href="@{/plain/all}">Todos los niveles</a></li>
        <li><a href="linkToTraza" th:href="@{/plain/trace}">Mensaje nivel trace</a></li>
        <li><a href="linkToTraza" th:href="@{/plain/debug}">Mensaje nivel debug</a></li>
        <li><a href="linkToTraza" th:href="@{/plain/info}">Mensaje nivel info</a></li>
        <li><a href="linkToTraza" th:href="@{/plain/warn}">Mensaje nivel warn</a></li>
        <li><a href="linkToTraza" th:href="@{/plain/error}">Traza de error</a></li>
    </ul>
    <p></p>
    <p>Endpoints trazas conector GELF</p>
    <ul>
        <li><a href="linkToTraza" th:href="@{/gelf/all}">Todos los niveles</a></li>
        <li><a href="linkToTraza" th:href="@{/gelf/trace}">Mensaje nivel trace</a></li>
        <li><a href="linkToTraza" th:href="@{/gelf/debug}">Mensaje nivel debug</a></li>
        <li><a href="linkToTraza" th:href="@{/gelf/info}">Mensaje nivel info</a></li>
        <li><a href="linkToTraza" th:href="@{/gelf/warn}">Mensaje nivel warn</a></li>
        <li><a href="linkToTraza" th:href="@{/gelf/error}">Traza de error</a></li>
    </ul>
    <p></p>
    <p>Endpoints trazas json logger</p>
    <ul>
        <li><a href="linkToTraza" th:href="@{/jsonlogger/all}">Todos los niveles</a></li>
        <li><a href="linkToTraza" th:href="@{/jsonlogger/trace}">Mensaje nivel trace</a></li>
        <li><a href="linkToTraza" th:href="@{/jsonlogger/debug}">Mensaje nivel debug</a></li>
        <li><a href="linkToTraza" th:href="@{/jsonlogger/info}">Mensaje nivel info</a></li>
        <li><a href="linkToTraza" th:href="@{/jsonlogger/warn}">Mensaje nivel warn</a></li>
        <li><a href="linkToTraza" th:href="@{/jsonlogger/error}">Traza de error</a></li>
    </ul>
    <p></p>
    <p>Endpoints trazas consola json personalizado</p>
    <ul>
        <li><a href="linkToTraza" th:href="@{/consolejsonlogger/all}">Todos los niveles</a></li>
        <li><a href="linkToTraza" th:href="@{/consolejsonlogger/trace}">Mensaje nivel trace</a></li>
        <li><a href="linkToTraza" th:href="@{/consolejsonlogger/debug}">Mensaje nivel debug</a></li>
        <li><a href="linkToTraza" th:href="@{/consolejsonlogger/info}">Mensaje nivel info</a></li>
        <li><a href="linkToTraza" th:href="@{/consolejsonlogger/warn}">Mensaje nivel warn</a></li>
        <li><a href="linkToTraza" th:href="@{/consolejsonlogger/error}">Traza de error</a></li>
    </ul>
</body>
</html>