<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>pruebas-trazas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p><a href="/" th:href="@{/}"> <-- Home</a></p>
    <p></p>
    <p>Niveles trazas producidas:</p>
    <ul>
        <li th:each="nivel : ${niveles}" th:text="${nivel}">nivel</li>
    </ul>

</body>
</html>